.body {
    width: 100vw;
    height: 100vh;
    padding-top: 20%;
    background-color: black;
}

.back_img {
    width: 50vw;
    height: 40vh;
    background-color: red;
}

.title {
    font-size: 80px;
    font-weight: 600;
    color: white;
    font-family: "Tourney", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.title::after {
    border-bottom: 4px white;
    width: 100%;
}

.ul {
    margin-top: 15%;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.list {
    font-size: 40px;
    padding: 20px 40px;
    text-decoration: none;
    font-family: "space mono", monospace;
    color: rgb(255, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    width: fit-content;
    height: fit-content;
}

.list:hover {
    background-color: white;
    border: white;
    color: black;
    transition: 1s;
    cursor: grab;
}